.blue-position {
    color: blue;
    font-weight: bold;
}

.yellow-position {
    color: yellow;
    font-weight: bold;
}

.employee {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}