<div class="card h-100">
  <h5 class="card-title text-center p-2">Заявка №{{order.id}}</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{order.client_name}}</li>
    <li class="list-group-item">{{order.date}}</li>
    <li class="list-group-item">
  {% if order.status == "новая" %}
  <span class="badge bg-warning">{{order.status}}</span>
{% elif order.status == "подтвержденная" %}
  <span class="badge bg-primary">{{order.status}}</span>
{% elif order.status == "выполненная" %}
  <span class="badge bg-success">{{order.status}}</span>
{% elif order.status == "отмененная" %}
  <span class="badge bg-danger">{{order.status}}</span>
{% else %}
  <span class="badge bg-secondary">{{order.status}}</span>
{% endif %}
</li>
    <li class="list-group-item">
      <ul>
        {% for service in order.services %}
        <li>{{service}}</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <div class="card-footer mt-auto">
    <a href=" {% url 'order_detail' order.id %}" class="btn btn-dark"
      >Подробнее</a
    >
  </div>
</div>
