{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Детали заявки</h1>
    {% if order %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Клиент: {{ order.client_name }}</h5>
            <p class="card-text">Статус: {{ order.status }}</p>
            <p class="card-text">Дата: {{ order.date }}</p>
            <p class="card-text">Мастер: {{ master.name }}</p>
            
            <h6>Услуги:</h6>
            <ul>
                {% for service in order.services %}
                <li>{{ service }}</li>
                {% endfor %}
            </ul>
            
            <a href="{% url 'orders_list' %}" class="btn btn-secondary">Назад к списку</a>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        Заявка не найдена
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script src='{% static "js/order_detail.js" %}'></script>
{{ block.super }}
{% endblock scripts %}