<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Экземпляры с данными в шаблонизаторе Django</h1>
    <p>Строка: {{string}}</p>
    <p>Число: {{number}}</p>
    <p>Список: {{list_}}</p>
    <p>Список обращение к индексу 0: {{list_.0}}</p>
    <p>Словарь: {{dict_}}</p>
    <p>Словарь обращение к ключу: {{dict_.best_master}}</p>
    <p>Экземпляр класса: {{class_}}</p>
    <p>Экземпляр класса обращение к атрибуту: {{class_.name}}</p>
    <p>Экземпляр класса обращение к методу: {{class_.say_my_name}}</p>
</body>
</html>